# ignoring

# backend-1

imp.txt

backend-1/node_modules

backend-1/package-lock.json

backend-1/config.env

# backend-2

backend-2/node_modules

backend-2/node_modules/http-errors/package.json

backend-2/package-lock.json

backend-2/config.env

# emojipedia

emojipedia/node_modules

emojipedia/node_modules/depd/History.md

emojipedia/package-lock.json

emojipedia/config.env


# backend-apis

backend-apis/node_modules

backend-apis/node_modules/depd/History.md

backend-apis/package-lock.json

backend-apis/config.env

# backend-axois

backend-axios/node_modules

backend-axios/node_modules/depd/History.md

backend-axios/package-lock.json

backend-axios/config.env