<div id="header">
    <div class="container-fluid bg-dark mt-5">
        <div class="container text-center">
            <span class="fw-bolder text-light">Made with ❤️ by Code-Hopper</span>
        </div>
    </div>
</div>

</body>
<script src="./script.js"></script>


</html>