<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmojiPedia</title>

    <!-- custom css and js -->
    <link rel="stylesheet" href="./style.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="./vendor/bootstrap-5/css/bootstrap.css">

    <script src="./vendor/bootstrap-5/js/bootstrap.bundle.min.js"></script>

    <!-- fontAwsome icons -->

    <link rel="stylesheet" href="./vendor/fontawesome/css/all.css">

</head>

<body>
    <div id="header">
        <div class="container-fluid bg-dark">
            <div class="container">
                <div class="navbar navbar-expand navbar-dark bg-dark">
                    <a class="navbar-brand" href="">
                        EmojiPedia😊
                    </a>
                    <ul class="navbar-nav ms-auto align-items-center">
                        <li class="nav-items">
                            <a class="nav-link" href="">
                                Emojies
                            </a>
                        </li>
                        <li class="nav-items">
                            <a class="nav-link" href="">
                                About Us
                            </a>
                        </li>
                        <li class="nav-items">
                            <a class="nav-link" href="">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-items">
                            <a class="nav-link" href="">
                                <button class="btn btn-warning fw-bolder"> Register </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>