<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- custom srtyle sheet -->

    <link rel="stylesheet" href="./style.css">

    <!-- linking bopotstrap which is in node_modules -->

    <link rel="stylesheet" href="./vendor/bootstrap-5/css/bootstrap.css">

    <script src="./vendor/bootstrap-5/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    
    <div id="header">
        <h1 class="text-danger">This is header</h1>
    </div>
    
