<!-- include header -->
<%- include('./partials/header.ejs');  %>

<div id="index">
    <h1>This is index.ejs page</h1>
    <h3> <%= someData %> </h3>
    <h3> <%= newData %> </h3>
</div>

<!-- include footer -->
<%- include('./partials/footer.ejs');  %>
